* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 0px 36px 72px;
}

h1 {
  font-family: "Newsreader", serif;
  color: #426b1f;
  font-size: 32px;
  font-weight: 500;
}

nav {
  display: flex;
  gap: 36px;
  padding-right: 16px;
  align-items: center;
}

nav > a {
  text-decoration: none;
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.basket {
  background-color: #426b1f;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
}
