@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 0px 36px 72px;
}

h1 {
  font-family: "Newsreader", serif;
  color: #426b1f;
  font-size: 32px;
  font-weight: 500;
}

nav {
  display: flex;
  gap: 36px;
  padding-right: 16px;
  align-items: center;
}

nav > a {
  text-decoration: none;
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.basket {
  background-color: #426b1f;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
}

.basket:hover {
  color: rgb(184, 184, 184);
  transition: 0.3s;
}

.basket:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

body,
main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.texto {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 64px;
  font-family: "Newsreader", sans-serif;
}

.botao {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
.botao > p {
  background-color: #426b1f;
  padding: 14px 24px;
  color: white;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.folha {
  display: flex;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  gap: 82px;
  padding-left: 82px;
  padding-top: 20px;
}

.img1 {
  width: 65%;
}

.img2 {
  width: 100%;
}

.legenda {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8px;
}

.legenda > p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.texto2 {
  display: flex;
  text-align: justify;
  gap: 150px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  padding: 40px 0px 30px 82px;
}

.corno {
  font-size: 14px;
  white-space: nowrap;
}
